@page "/Account/Login"

<PageTitle>Login</PageTitle>

<BackgroundFiller />

<DeviceView>
    <Desktop>
        <MudText Typo="@Typo.h3"
                 Align="@Align.Center"
                 Color="@Color.Primary"
                 Style="user-select: none;">
            Sign in
        </MudText>

        <div class="m-2">
            <div style="max-width: 50%; margin-left: auto; margin-right: auto;">
                <LoginView />
            </div>
        </div>
    </Desktop>
    <Mobile>
        <div class="m-2">
            <MudImage Src="assets/plane.png" ObjectFit="@ObjectFit.Cover"
                      Style="max-width: 100%; margin-left: auto; margin-right: auto; display: block;" />
        </div>
        <MudText Typo="@Typo.h4"
                 Align="@Align.Center"
                 Color="@Color.Primary"
                 Style="user-select: none;">
            <b>Find your flight</b>
        </MudText>

        <div class="m-2">
            <div style="margin-left: auto; margin-right: auto;">
                <LoginView />
            </div>
        </div>
    </Mobile>
</DeviceView>
