@page "/"
@using FlyDreamAir.Data.Model
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<div class="m-2">
    <div class="m-5">
        <DeviceView>
            <Desktop>
                <MudImage Src="assets/plane.png" ObjectFit="@ObjectFit.Cover"
                          Style="max-width: 50%; margin-left: auto; margin-right: auto; display: block;" />
            </Desktop>
            <Mobile>
                <MudImage Src="assets/plane.png" ObjectFit="@ObjectFit.Cover"
                          Style="max-width: 100%; margin-left: auto; margin-right: auto; display: block;" />
            </Mobile>
        </DeviceView>
    </div>

    <MudHtmlForm Action="/Flights/Flights"
                 Method="@HtmlFormMethod.Get"
                 Context="form">
        <MudStack>
            @{
                RenderFragment fromSelect =
                    @<MudSelect T="Airport"
                                Label="From"
                                Required="true"
                                RequiredError="Please enter your departure location."
                                Adornment="@Adornment.Start"
                                AdornmentIcon="@Icons.Material.Outlined.PinDrop"
                                Variant="@Variant.Outlined"
                                UserAttributes="@(new(){ {"name", "from"} })" />;
                RenderFragment toSelect =
                    @<MudSelect T="Airport"
                                Label="To"
                                Required="true"
                                RequiredError="Please enter your destination."
                                Adornment="@Adornment.Start"
                                AdornmentIcon="@Icons.Material.Outlined.AirplanemodeActive"
                                Variant="@Variant.Outlined"
                                UserAttributes="@(new(){ {"name", "to"} })" />;
                RenderFragment datePicker =
                    @<MudDatePicker Placeholder="Select date"
                                    Adornment="@Adornment.Start"
                                    AdornmentIcon="@Icons.Material.Outlined.CalendarToday"
                                    Required="true"
                                    RequiredError="Please enter your departure date."
                                    Variant="@Variant.Outlined"
                                    TransformOrigin="@Origin.CenterLeft"
                                    UserAttributes="@(new(){ {"name", "date"} })" />;
            }
            <DeviceView>
                <Desktop>
                    <MudStack Row="true" Justify="@Justify.SpaceEvenly"
                              Style="width: 75%; margin-left: auto; margin-right: auto;">
                        @fromSelect
                        @toSelect
                        @datePicker
                    </MudStack>
                </Desktop>
                <Mobile>
                    <MudStack Row="true">
                        @fromSelect
                        @toSelect
                    </MudStack>
                    @datePicker
                </Mobile>
            </DeviceView>
            <MudStack Row="true" Justify="@Justify.Center">
                <MudButton Variant="@Variant.Filled"
                           Color="@Color.Primary"
                           Size="@Size.Large"
                           Style="border-radius: 100px;"
                           OnClick="form.Submit">
                    Search
                </MudButton>
            </MudStack>
        </MudStack>
    </MudHtmlForm>
</div>
