@page "/"
@using FlyDreamAir.Data.Model

<PageTitle>Home</PageTitle>

<div class="m-2">
    <div class="m-5">
        <DeviceView>
            <Desktop>
                <MudImage Src="assets/plane.png" ObjectFit="@ObjectFit.Cover"
                          Style="max-width: 50%; margin-left: auto; margin-right: auto; display: block;" />
            </Desktop>
            <Mobile>
                <MudImage Src="assets/plane.png" ObjectFit="@ObjectFit.Cover"
                          Style="max-width: 100%; margin-left: auto; margin-right: auto; display: block;" />
            </Mobile>
        </DeviceView>
    </div>

    <MudForm>
        <MudStack>
            @{
                RenderFragment fromSelect =
                @<MudSelect T="Airport"
                            Label="From"
                            Adornment="@Adornment.Start"
                            AdornmentIcon="@Icons.Material.Outlined.PinDrop"
                            Variant="@Variant.Outlined" />;
                RenderFragment toSelect =
                @<MudSelect T="Airport"
                            Label="To"
                            Adornment="@Adornment.Start"
                            AdornmentIcon="@Icons.Material.Outlined.AirplanemodeActive"
                            Variant="@Variant.Outlined" />;
                RenderFragment datePicker =
                @<MudDatePicker Placeholder="Select date"
                                Adornment="@Adornment.Start"
                                AdornmentIcon="@Icons.Material.Outlined.CalendarToday"
                                Variant="@Variant.Outlined"
                                TransformOrigin="@Origin.CenterLeft"/>;
            }
            <DeviceView>
                <Desktop>
                    <MudStack Row="true" Justify="@Justify.SpaceEvenly"
                              Style="width: 75%; margin-left: auto; margin-right: auto;">
                        @fromSelect
                        @toSelect
                        @datePicker
                    </MudStack>
                </Desktop>
                <Mobile>
                    <MudStack Row="true">
                        @fromSelect
                        @toSelect
                    </MudStack>
                    @datePicker
                </Mobile>
            </DeviceView>
            <MudStack Row="true" Justify="@Justify.Center">
                <MudButton Variant="@Variant.Filled"
                           Color="@Color.Primary"
                           Size="@Size.Large"
                           Style="border-radius: 100px;">
                    Search
                </MudButton>
            </MudStack>
        </MudStack>
    </MudForm>
</div>
